.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  // background-color: transparent;
  background-color: #fff;
  // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.popup__btn-close {
  padding: 0;
  position: absolute;
  top: 28px;
  right: 28px;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  background: transparent url(../../../img/popups/close-icon-black.svg) center
    center / cover no-repeat;
  transition: opacity 0.2s linear;
}
.popup__btn-close_black {
  background-image: url(../../../img/popups/close-icon-black.svg);
}

.popup__btn-close:hover {
  opacity: 0.6;
  cursor: pointer;
}
