.main__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    margin-bottom: 92px;
    max-width: 984px;
}

.main__info {
    display: flex;
    align-items: center;
    gap: 100px;
}

.main__info__button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #a58372;
    color: #fff;
    text-transform: uppercase;
}

.main__info-image {
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.main__info-text {
    display: flex;
    flex-direction: column;
}

.main__info-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main__info-subtitle {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #cfa2bc;
}

.main__info-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.main__info_right {
    flex-direction: row-reverse;
}
