@import ../App/_mixins
@import ../App/_var
    
.header 
    flex-grow: 0
    flex-shrink: 0
    box-sizing: border-box
    background: $bg-color-secondary
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    padding: 18px 70px
    position: relative

    &__logo:hover 
        opacity: 0.8

    &__logo-image 
        height: 60px
        width: 90px
        border-radius: 50%
    
    &__info
        position: absolute
        right: 5vw

    &__info-phone
        text-decoration: none
        margin-right: 40px
        color:$text-color-brown

    &__info-worktime
        color:$text-color-brown
        margin-right: 40px

    &__info-city
        color:$text-color-brown

@media (max-width: 768px) 
    .header 
        padding: 18px 30px
    


@media (max-width: 320px) 
    .header 
        padding: 18px 14px
    

