.menu-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content__title {
    font-size: 30px;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin-bottom: 50px;
    max-width: 500px;
    text-align: center;
    color: #4d220e;
}

.menu-content__subtitle {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 40px;
}

.menu-content__gallery {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-column-gap: 15px;
    grid-row-gap: 37px;
    list-style: none;
    margin-bottom: 60px;
}
