.footer {
    flex-grow: 0; /*чтобы футер не рос*/
    flex-shrink: 0; /*чтобы футер не сжимался*/
    box-sizing: border-box;
    background: #a58372;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 70px;
}

.footer__author {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d220e;
}

.footer__link {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #cfa2bc;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.footer__item:last-child {
    margin: 0;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    margin-right: 30px;
}

.footer__image {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer {
        padding: 60px 30px 20px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 60px 10px 20px;
    }
    .footer__info {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 29px;
    }
    .footer__link {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
    }
    .footer__author {
        font-family: 'Montserrat', 'Arial', 'sans-serif';
        font-size: 12px;
    }
    .footer__item {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
