body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #efefef;
    color: #333132;

    /* background-image: url('../../images/main-bg-mono.jpg');
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url('../../images/main-bg1.jpg');
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; */
}

.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* max-width: 1024px; */
    min-width: 320px;
    /* min-height: 100%; */
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-style: normal;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

    height: 100vh;
    justify-content: space-between;
}

/* для sticker footer */
.wrapper {
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

/*для sticker footer*/
.main {
    flex-grow: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
