.main__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 70px;
    margin-bottom: 30px;
}

.main__bottom-gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 70px;
}

.main__bottom-image {
    width: 200px;
    height: 200px;
}

.slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
