.menu-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 340px;
}

.menu-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
}

.menu-card__container:hover {
    opacity: 0.8;
    cursor: pointer;
}

.menu-card__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}

.menu-card__link {
    text-decoration: none;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #4d220e;
}
