@import '../../App/_mixins'
@import '../../App/_var'
    
.cakes 
    @include flex-col
    padding-top: 20px
    padding-bottom: 60px
    align-items: center
    
    &__title 
        text-align: center
        font-size: 30px
        font-weight: 600
        margin-bottom: 20px
        text-transform: uppercase
        margin-bottom: 20px
        max-width: 500px
        color: $text-color-brown

    &__gallery 
        /* column-gap: 50px */
        width: 67vw
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        gap: 2%

