.main__top {
    margin-bottom: 50px;
    padding: 80px 0 80px;
    background-image: url('../../images/main-top-bg1.jpg');
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url('../../images/main-top-bg1.jpg');
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
